# venvs
.venv/
venv/
env/
temp/

# OS and vscode cruft
.DS_Store
.vscode/
.idea/

# Python cache
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo

# local packages and artifacts
*.egg
*.egg-info/
logs/
mlflow/artifacts/
catboost_info/

# data 
.env
dataset/*
# include files exception
!dataset/manifest.json
